@mixin flex-default($spacing: space-around) {
  display: flex;
  justify-content: $spacing;
  align-items: center;
}

html {
  &:not([data-scroll="0"]) {
    .navbar-wrapper {
      background-color: white;
      transform: translateY(-20px);

      a:not(.nav-special) {
        color: $theme-red;
      }
    }
  }

  .hero-wrapper {
    display: grid;
    grid-template-rows: 100px 100px;
    width: $full-size;
    height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/assets/background-images/slider1.jpeg");
    background-size: cover;
    background-position: center;

    .navbar-wrapper {
      position: fixed;
      overflow: hidden;
      @include flex-default(space-around);
      width: $full-size;
      height: 70px;
      margin: 20px 0;
      // border: 1px solid red;
      gap: 36vw;
      white-space: nowrap;
      transition: transform 0.09s;

      .nav-left {
        max-width: fit-content;
        font-size: 18px;
      }

      .nav-right {
        max-width: fit-content;
        word-spacing: 20px;

        .nav-special {
          background-color: $theme-red;
          padding: 18px 25px;
          border-radius: 25px;
        }
      }
    }
  }

  .hero-body {
    @include flex-default();
    flex-direction: column;
    gap: 40px;
    // border: 1px solid orange;
    width: $full-size;
    height: fit-content;
    font-weight: 400;
    margin-top: 32vh;

    h1 {
      color: white;
      font-size: 67px;
    }

    p {
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: white;
    }

    a {
      @include flex-default();
      width: 110px;
      height: 45px;
      background-color: $theme-red;
      border-radius: 3px;
      margin-top: 20px;
    }
  }
}
