@mixin flex-default($spacing: space-around) {
  display: flex;
  justify-content: $spacing;
  align-items: center;
}

html {
  &:not([data-scroll="0"]) {
    .navbar-wrapper {
      background-color: white;
      transform: translateY(-20px);

      a:not(.nav-special) {
        color: black;

        &:hover {
          color: $theme-red;
          background-color: transparent;
        }
      }
    }
  }

  .hero-wrapper {
    display: grid;
    grid-template-rows: 100px 100px;
    width: $full-size;
    height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/background-images/slider1.jpeg");
    background-size: cover;
    background-position: center;

    .navbar-wrapper {
      position: fixed;
      overflow: hidden;
      @include flex-default();
      width: $full-size;
      height: 70px;
      margin: 20px 0;
      // border: 1px solid red;
      gap: 36vw;
      white-space: nowrap;
      transition: transform 0.09s;

      .nav-left {
        max-width: fit-content;
        font-size: 18px;
        margin: 0 10px;
      }

      .nav-right {
        @include flex-default(center);

        a:not(.nav-special) {
          @include flex-default(space-around);
          box-sizing: border-box;
          flex-basis: 100%;
          min-width: fit-content;
          padding: 10px 15px;
          min-height: 45px;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.08),
            rgba(255, 255, 255, 0.08)
          );
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 0% 100%;
          border-radius: 3px;
          transition: background-size 0.3s, color 0.4s;

          &:hover {
            background-size: 90% 100%;
            opacity: 0.85;
          }
        }

        .nav-special {
          background-color: $theme-red;
          padding: 18px 25px;
          border-radius: 25px;
          margin: 0 10px;
        }
      }
    }
  }

  .hero-body {
    @include flex-default();
    flex-direction: column;
    gap: 40px;
    // border: 1px solid orange;
    width: $full-size;
    height: fit-content;
    font-weight: 400;
    margin-top: 32vh;

    h1 {
      color: white;
      font-size: 67px;
    }

    p {
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: white;
    }

    a {
      @include flex-default();
      width: 120px;
      height: 45px;
      background-color: $theme-red;
      border-radius: 3px;
      margin-top: 20px;
    }
  }
}
