* {
  padding: 0;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  color: red;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/background-images/contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: color 0.3s;
}

html:not([data-scroll="0"]) .navbar-wrapper {
  background-color: white;
  transform: translateY(-20px);
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-right a:not(.nav-special) {
  color: rgb(95, 95, 95);
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-right a:not(.nav-special):hover {
  color: rgba(95, 95, 95, 0.8);
  background-color: transparent;
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-left a {
  color: rgb(85, 85, 85);
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-left a:hover {
  color: rgba(95, 95, 95, 0.8);
  background-color: transparent;
}
html .hero-wrapper {
  display: grid;
  grid-template-rows: 100px 100px;
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/background-images/slider1.jpeg");
  background-size: cover;
  background-position: center;
}
html .hero-wrapper .navbar-wrapper {
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 20px 0;
  gap: 36vw;
  white-space: nowrap;
  transition: transform 0.09s;
}
html .hero-wrapper .navbar-wrapper .nav-left {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  margin: 0 10px;
}
html .hero-wrapper .navbar-wrapper .nav-left a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}
html .hero-wrapper .navbar-wrapper .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .hero-wrapper .navbar-wrapper .nav-right a:not(.nav-special) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 10px 15px;
  min-height: 45px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border-radius: 3px;
  transition: background-size 0.3s, color 0.2s ease-in-out;
}
html .hero-wrapper .navbar-wrapper .nav-right a:not(.nav-special):hover {
  background-size: 95% 100%;
  opacity: 0.8;
}
html .hero-wrapper .navbar-wrapper .nav-right .nav-special {
  background-color: rgb(231, 37, 101);
  padding: 18px 55px 18px 25px;
  border-radius: 25px;
  margin: 0 10px;
}
html .hero-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  margin-top: 32vh;
}
html .hero-body h1 {
  color: white;
  font-size: 67px;
}
html .hero-body p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: white;
}
html .hero-body a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 45px;
  background-color: rgb(231, 37, 101);
  border-radius: 3px;
  margin-top: 20px;
}

.main-content-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: auto;
  width: 100%;
}
.main-content-wrapper .bg-left {
  background: linear-gradient(to left, rgb(190, 190, 190), rgb(230, 230, 230));
}
.main-content-wrapper .bg-middle {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin-top: -60px;
  width: 96vw;
  background-color: transparent;
  border-radius: 6px 6px 0 0;
}
.main-content-wrapper .bg-middle h1 {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
  font-weight: 700;
  color: rgb(61, 72, 88);
}
.main-content-wrapper .bg-middle h2 {
  color: rgb(61, 72, 88);
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.main-content-wrapper .bg-middle p {
  font-weight: 300;
  font-size: 14px;
  color: rgb(171, 171, 171);
  line-height: 24px;
}
.main-content-wrapper .bg-middle .main-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5% 60px 5%;
  min-height: 450px;
  width: 100%;
  gap: 55px;
  background-color: white;
  border-radius: 6px 6px 0 0;
}
.main-content-wrapper .bg-middle .main-item-header .main-item-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.main-content-wrapper .bg-middle .main-item-header .main-item-container .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 33%;
  max-width: 380px;
  text-align: center;
}
.main-content-wrapper .bg-middle .main-item-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 310px;
  width: 100%;
  background-color: transparent;
  padding: 0 5%;
}
.main-content-wrapper .bg-middle .main-item-1 h1 {
  color: white;
  margin-bottom: 20px;
}
.main-content-wrapper .bg-middle .main-item-1 p {
  color: rgb(254, 254, 254);
  font-size: 18px;
  font-weight: 100;
}
.main-content-wrapper .bg-middle .main-item-1 div {
  width: 38%;
}
.main-content-wrapper .bg-middle .main-item-1 img {
  height: auto;
  width: 42%;
}
.main-content-wrapper .bg-middle .main-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0 60px 0;
  min-height: 490px;
  width: 100%;
  gap: 80px;
  background-color: white;
}
.main-content-wrapper .bg-middle .main-item-2 h1 {
  text-align: center;
}
.main-content-wrapper .bg-middle .main-item-2 .sub-heading {
  color: rgb(61, 72, 88);
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: left;
  align-items: baseline;
  margin: 0 10vw;
  gap: 2vw;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 390px;
  min-width: 150px;
  text-align: left;
  gap: 12px;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 a:not(.sub-heading),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 a:not(.sub-heading),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 a:not(.sub-heading) {
  font-size: 12px;
  font-weight: 500;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 a:not(.sub-heading) {
  color: rgb(136, 41, 153);
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 a:not(.sub-heading) {
  color: rgb(31, 188, 211);
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 a:not(.sub-heading) {
  color: rgb(242, 69, 61);
}
.main-content-wrapper .bg-middle .main-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 120px;
  min-height: 440px;
  width: 100%;
  background-color: transparent;
  color: white;
}
.main-content-wrapper .bg-middle .main-item-3 h1 {
  color: white;
  margin-bottom: 30px;
}
.main-content-wrapper .bg-middle .main-item-3 h2 {
  color: white;
}
.main-content-wrapper .bg-middle .main-item-3 p {
  margin-left: 30px;
}
.main-content-wrapper .bg-middle .main-item-3 i {
  font-size: 35px;
}
.main-content-wrapper .bg-middle .main-item-footer {
  min-height: 100px;
  width: 100%;
  background-color: rgb(50, 52, 55);
}
.main-content-wrapper .bg-right {
  background: linear-gradient(to right, rgb(190, 190, 190), rgb(230, 230, 230));
}/*# sourceMappingURL=main.css.map */