@-ms-viewport {
  width: device-width;
}
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
  touch-action: pan-y;
  scroll-behavior: smooth;
}

body {
  color: red;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: --webkit-fill-available;
}

a {
  text-decoration: none;
}
a:not(#read-more):not(.blog-sub-heading) {
  box-sizing: border-box;
  color: white;
  font-weight: 300;
  transition: color 0.3s;
}

html {
  height: --webkit-fill-available;
}
html:not([data-scroll="0"]) .navbar-wrapper {
  background-color: white;
  transform: translateY(-20px);
  box-shadow: 0 6px 6px -6px gray;
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-right a:not(.nav-special):not(#read-more) {
  color: rgb(95, 95, 95);
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-right a:not(.nav-special):not(#read-more):hover {
  color: rgb(231, 37, 101) !important;
  background-color: transparent;
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-left a:not(#read-more) {
  color: black !important;
}
html:not([data-scroll="0"]) .navbar-wrapper .nav-left a:not(#read-more):hover {
  color: rgb(231, 37, 101) !important;
  background-color: transparent;
}
html .hero-wrapper {
  display: grid;
  grid-template-rows: 100px 100px;
  width: 100%;
}
html .hero-wrapper .navbar-wrapper {
  position: fixed;
  z-index: 5;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 20px 0;
  gap: 36vw;
  white-space: nowrap;
  transition: transform 0.09s;
}
html .hero-wrapper .navbar-wrapper .nav-left {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  margin: 0 10px;
}
html .hero-wrapper .navbar-wrapper .nav-left a:not(#read-more) {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}
html .hero-wrapper .navbar-wrapper .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .hero-wrapper .navbar-wrapper .nav-right a:not(.nav-special):not(#read-more) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 10px 15px;
  min-height: 45px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border-radius: 3px;
  transition: background-size 0.3s, color 0.2s ease-in-out;
}
html .hero-wrapper .navbar-wrapper .nav-right a:not(.nav-special):not(#read-more):hover {
  background-size: 95% 100%;
  opacity: 0.8;
}
html .hero-wrapper .navbar-wrapper .nav-right .nav-special {
  background-color: rgb(231, 37, 101);
  color: white;
  padding: 18px 55px 18px 25px;
  border-radius: 25px;
  margin: 0 10px;
  box-shadow: 0 6px 6px -6px gray;
}
html .hero-wrapper .navbar-wrapper .nav-right .nav-special:hover {
  box-shadow: 0 12px 12px -8px gray;
  color: lightgray;
}
html .hero-wrapper .navbar-wrapper .nav-right .hamburger-icon {
  display: none;
}
html .hero-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
html .hero-body p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: white;
}
html .hero-body a:not(.author-link):not(#read-more) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 45px;
  background-color: rgb(231, 37, 101);
  border-radius: 3px;
  margin-top: 20px;
}

.main-content-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: auto;
  width: 100%;
}
.main-content-wrapper .bg-left {
  background-color: rgb(225, 225, 225);
}
.main-content-wrapper .bg-middle {
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  width: 96vw;
  background-color: transparent;
  border-radius: 6px 6px 0 0;
}
.main-content-wrapper .bg-middle h1 {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
  font-weight: 700;
  color: rgb(61, 72, 88);
}
.main-content-wrapper .bg-middle h2 {
  color: rgb(61, 72, 88);
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.main-content-wrapper .bg-middle p {
  font-weight: 300;
  font-size: 14px;
  color: rgb(171, 171, 171);
  line-height: 24px;
}
.main-content-wrapper .bg-middle .main-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px 0 60px 0;
  min-height: 490px;
  width: 100%;
  gap: 80px;
  background-color: white;
}
.main-content-wrapper .bg-middle .main-item-2 h1 {
  text-align: center;
}
.main-content-wrapper .bg-middle .main-item-2 .sub-heading {
  color: rgb(61, 72, 88) !important;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container {
  display: grid;
  justify-items: left;
  align-items: baseline;
  gap: 2vw;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-4,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-5,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-6,
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 390px;
  max-width: 700px;
  min-width: 150px;
  text-align: left;
  gap: 12px;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-4 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-5 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-6 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-7 a:not(.sub-heading):not(#read-more) {
  font-size: 12px;
  font-weight: 500;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 .sub-container-footer a:not(.tag-link):not(#read-more) {
  font-size: 14px;
  font-weight: 300;
  color: black !important;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-1 a:not(.sub-heading):not(#read-more) {
  color: rgb(136, 41, 153);
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 .sub-container-footer a:not(#read-more) {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-2 a:not(.sub-heading):not(#read-more) {
  color: rgb(31, 188, 211);
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 .sub-container-footer a:not(#read-more) {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .bg-middle .main-item-2 .main-item-container .sub-container-3 a:not(.sub-heading):not(#read-more) {
  color: rgb(242, 69, 61);
}
.main-content-wrapper .bg-middle .main-item-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background-color: rgb(50, 52, 55);
  gap: 30vw;
}
.main-content-wrapper .bg-middle .main-item-footer p {
  color: lightgray;
}
.main-content-wrapper .bg-middle .main-item-footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  font-size: 12px;
  font-weight: 100;
  gap: 50px;
  white-space: nowrap;
}
.main-content-wrapper .bg-right {
  background-color: rgb(225, 225, 225);
}

.hamburger-menu {
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea,
.name {
  width: 30vw;
  max-width: 600px;
  min-width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: transparent;
  padding: 12px 0;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
}
textarea::-moz-placeholder, .name::-moz-placeholder {
  color: rgb(168, 168, 168);
}
textarea:-ms-input-placeholder, .name:-ms-input-placeholder {
  color: rgb(168, 168, 168);
}
textarea::placeholder,
.name::placeholder {
  color: rgb(168, 168, 168);
}

.name {
  height: 30px;
}

button {
  background-color: rgb(231, 37, 101);
  border: 1px;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.css-box-shadow {
  /*start ------------*/
  width: [object Object] px;
  height: [object Object] px;
  background: #f8f8f8;
  border: none;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.3);
}

.css-box-shadow-2 {
  /*start ------------*/
  width: [object Object] px;
  height: [object Object] px;
  background: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.category-button-font-color {
  color: white;
  font-size: 10px;
}

.author-link {
  color: white;
  font-weight: 700;
}

figcaption {
  color: black;
  text-align: center;
}

.index-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/background-images/contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.index-hero-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/background-images/slider1.jpeg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.index-hero-wrapper .index-hero-body {
  gap: 40px;
  font-weight: 400;
  margin-top: 32vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.index-hero-wrapper .index-hero-body h1 {
  color: white;
  font-size: 67px;
}

.main-content-wrapper .index-bg-middle {
  overflow-y: visible;
  margin-top: -60px;
  height: calc(100% + 60px);
}
.main-content-wrapper .index-bg-middle .main-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5% 60px 5%;
  min-height: 450px;
  width: 100%;
  gap: 55px;
  background-color: white;
  border-radius: 6px 6px 0 0;
}
.main-content-wrapper .index-bg-middle .main-item-header .main-item-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.main-content-wrapper .index-bg-middle .main-item-header .main-item-container .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 33%;
  max-width: 380px;
  text-align: center;
}
.main-content-wrapper .index-bg-middle .main-item-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 310px;
  width: 100%;
  background-color: transparent;
  padding: 0 5%;
}
.main-content-wrapper .index-bg-middle .main-item-1 h1 {
  color: white;
  margin-bottom: 20px;
}
.main-content-wrapper .index-bg-middle .main-item-1 p {
  color: rgb(254, 254, 254);
  font-size: 18px;
  font-weight: 100;
}
.main-content-wrapper .index-bg-middle .main-item-1 div {
  width: 38%;
}
.main-content-wrapper .index-bg-middle .main-item-1 img {
  height: auto;
  width: 42%;
}
.main-content-wrapper .index-bg-middle .main-item-2 .index-sub-heading {
  font-size: 18px;
}
.main-content-wrapper .index-bg-middle .main-item-2 .index-main-item-container {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10vw;
}
.main-content-wrapper .index-bg-middle .main-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 10vw;
  min-height: 440px;
  width: 100%;
  background-color: transparent;
  color: white;
}
.main-content-wrapper .index-bg-middle .main-item-3 h1 {
  color: white;
  margin-bottom: 30px;
}
.main-content-wrapper .index-bg-middle .main-item-3 h2 {
  color: white;
}
.main-content-wrapper .index-bg-middle .main-item-3 .info {
  margin-left: 30px;
}
.main-content-wrapper .index-bg-middle .main-item-3 i {
  font-size: 35px;
}

.blog-hero-wrapper {
  background: linear-gradient(to right, rgb(165, 29, 119), rgb(226, 48, 101));
  background-size: cover;
  background-position: center;
  height: 48vh;
}
.blog-hero-wrapper .blog-hero-body {
  height: 100%;
  justify-content: center;
}
.blog-hero-wrapper .blog-hero-body h1 {
  color: white;
  font-size: 42px;
  margin-top: 38vh;
}

#read-more {
  color: rgb(37, 86, 124);
}

.main-content-wrapper .blog-bg-middle {
  margin-top: -60px;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-sub-heading {
  font-size: 26px;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 80px 25vw;
  gap: 80px;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-heading-4 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-heading-5 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-heading-6 a:not(.sub-heading):not(#read-more),
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-heading-7 a:not(.sub-heading):not(#read-more) {
  font-size: 12px;
  font-weight: 500;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-4 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-4 .sub-container-footer a {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-4 a:not(.sub-heading):not(#read-more) {
  color: rgb(255, 139, 37);
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-5 .sub-container-footer {
  color: black;
  font-weight: 100;
  font-size: 14px;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-5 .sub-container-footer a {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-5 a:not(.sub-heading):not(#read-more) {
  color: rgb(229, 28, 88);
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-6 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-6 .sub-container-footer a {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-6 a:not(.sub-heading):not(#read-more) {
  color: rgb(68, 165, 70);
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-7 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-7 .sub-container-footer a {
  font-size: 14px;
  color: black !important;
}
.main-content-wrapper .blog-bg-middle .main-item-2 .blog-main-item-container .sub-container-7 a:not(.sub-heading):not(#read-more) {
  color: rgb(128, 36, 148);
}

.contact-hero-wrapper {
  display: block !important;
}
.contact-hero-wrapper .google-maps {
  margin-top: 70px;
}
.contact-hero-wrapper .contact-navbar-wrapper {
  top: 0 !important;
  z-index: 5;
  background-color: white !important;
}
.contact-hero-wrapper .contact-hero-body h1 {
  color: white;
  font-size: 42px;
  margin-top: 0 !important;
}

.contact-main-content-wrapper {
  overflow: hidden;
}
.contact-main-content-wrapper .contact-bg-left {
  display: none;
}
.contact-main-content-wrapper .contact-bg-middle {
  margin: -3px 0 0 0;
  border-radius: 0;
  width: 100vw;
  justify-content: center;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 {
  overflow: hidden;
  color: black;
  font-size: 14px;
  padding: 90px 30vw 0 20vw;
  width: 100%;
  min-height: 700px;
  max-height: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  position: relative;
  top: 30px;
  padding-bottom: 22.5%;
  display: grid !important;
  margin-right: 10vw;
  -moz-column-gap: 80px;
       column-gap: 80px;
  grid-template-areas: "a a c" "a a d" "a a e";
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 h1 {
  color: black;
  margin-bottom: 50px;
  margin-top: -50px;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 2vw;
  margin-left: -2vw;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 h2 i {
  font-size: 24px;
  color: rgb(231, 37, 101);
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-1 {
  min-width: 200px;
  grid-area: c;
  white-space: nowrap;
  margin-left: 50px;
  padding-bottom: 50px;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-1 p {
  margin-left: -2vw;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-2 {
  min-width: 200px;
  grid-area: d;
  white-space: nowrap;
  margin-left: 50px;
  padding-bottom: 50px;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-2 p {
  margin-left: -2vw;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-3 {
  min-width: 200px;
  grid-area: e;
  white-space: nowrap;
  margin-left: 50px;
  padding-bottom: 25vh;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-3 p {
  margin-left: -2vw;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  grid-area: a;
  white-space: nowrap;
  width: 40vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 700px;
  margin-left: 5vw;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 form div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: -15px 0;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 form button {
  border-radius: 3px;
  font-size: 12px;
}
.contact-main-content-wrapper .contact-bg-middle .contact-main-item-footer {
  width: 100vw;
}
.contact-main-content-wrapper .contact-bg-right {
  display: none;
}

.boat-blog-hero-body p {
  margin-top: 20px;
  font-size: 18px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
}

.sub-container-wrapper {
  display: flex;
}
.sub-container-wrapper .sub-container-1 {
  min-width: 435px !important;
}
.sub-container-wrapper .sub-container-1 .sub-container-footer .category-button {
  background-color: rgb(231, 37, 101);
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 5px;
}
.sub-container-wrapper .sub-container-1 .sub-container-footer .tags-container {
  margin-top: 20px;
}
.sub-container-wrapper .sub-container-1 .sub-container-footer .tags-container a:not(#read-more) {
  color: rgb(231, 37, 101) !important;
}
.sub-container-wrapper .social-icons-wrapper {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sub-container-wrapper .social-icons-wrapper .social-icons {
  color: white;
  font-size: 18px;
}
.sub-container-wrapper .social-icons-wrapper .social-icons i {
  padding: 15px;
  border-radius: 50%;
}
.sub-container-wrapper .social-icons-wrapper .social-icons .fa-facebook-f {
  padding: 15px 20px;
  background-color: rgb(52, 79, 141);
}
.sub-container-wrapper .social-icons-wrapper .social-icons .fa-twitter {
  background-color: rgb(75, 163, 236);
}
.sub-container-wrapper .social-icons-wrapper .social-icons .fa-envelope {
  background-color: rgb(142, 142, 142);
}

.related-posts-wrapper {
  min-height: 600px;
  background-color: rgb(225, 225, 225);
  display: grid;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-areas: "a a a" "b c d";
}
.related-posts-wrapper .related-posts-header {
  position: relative;
  left: 106%;
}
.related-posts-wrapper .post-1 {
  grid-area: b;
  background-color: white;
  width: 390px !important;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}
.related-posts-wrapper .post-2 {
  grid-area: c;
  background-color: white;
  width: 390px !important;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}
.related-posts-wrapper .post-3 {
  grid-area: d;
  background-color: white;
  width: 390px !important;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}
.related-posts-wrapper h1 {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
  font-weight: 700;
  color: rgb(61, 72, 88);
}
.related-posts-wrapper h2 {
  color: rgb(61, 72, 88);
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.related-posts-wrapper p {
  font-weight: 300;
  font-size: 14px;
  color: rgb(171, 171, 171);
  line-height: 24px;
}
.related-posts-wrapper h1 {
  margin-top: 100px;
  text-align: center;
}
.related-posts-wrapper .sub-heading {
  color: rgb(61, 72, 88);
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
.related-posts-wrapper .sub-container-1,
.related-posts-wrapper .sub-container-2,
.related-posts-wrapper .sub-container-3,
.related-posts-wrapper .sub-container-4,
.related-posts-wrapper .sub-container-5,
.related-posts-wrapper .sub-container-6,
.related-posts-wrapper .sub-container-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 390px;
  max-width: 700px;
  min-width: 150px;
  text-align: left;
  gap: 12px;
}
.related-posts-wrapper .sub-container-1 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-2 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-3 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-4 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-5 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-6 a:not(.sub-heading):not(#read-more),
.related-posts-wrapper .sub-container-7 a:not(.sub-heading):not(#read-more) {
  font-size: 12px;
  font-weight: 500;
}
.related-posts-wrapper .sub-container-2 #read-more {
  color: rgb(37, 86, 124);
}
.related-posts-wrapper .sub-container-2 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.related-posts-wrapper .sub-container-2 .sub-container-footer a:not(#read-more) {
  font-size: 14px;
  color: black !important;
}
.related-posts-wrapper .sub-container-2 a:not(.sub-heading):not(#read-more) {
  color: rgb(31, 188, 211);
}
.related-posts-wrapper .sub-container-3 #read-more {
  color: rgb(37, 86, 124);
}
.related-posts-wrapper .sub-container-3 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.related-posts-wrapper .sub-container-3 .sub-container-footer a:not(#read-more) {
  font-size: 14px;
  color: black !important;
}
.related-posts-wrapper .sub-container-3 a:not(.sub-heading):not(#read-more) {
  color: rgb(242, 69, 61);
}
.related-posts-wrapper .sub-container-4 #read-more {
  color: rgb(37, 86, 124);
}
.related-posts-wrapper .sub-container-4 .sub-container-footer {
  font-size: 14px;
  font-weight: 100;
  color: black;
}
.related-posts-wrapper .sub-container-4 .sub-container-footer a:not(#read-more) {
  font-size: 14px;
  color: black !important;
}
.related-posts-wrapper .sub-container-4 a:not(.sub-heading):not(#read-more) {
  color: rgb(255, 139, 37);
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background-color: rgb(50, 52, 55);
  gap: 30vw;
}
.footer-wrapper p {
  color: lightgray;
}
.footer-wrapper div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  font-size: 12px;
  font-weight: 100;
  gap: 50px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .main-content-wrapper {
    overflow-x: hidden;
  }
  .main-content-wrapper .bg-left {
    width: 0;
  }
  .main-content-wrapper .bg-right {
    width: 0;
  }
  .main-content-wrapper .bg-middle {
    width: 100vw;
  }
  .main-content-wrapper .bg-middle .main-item-header .main-item-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .main-content-wrapper .bg-middle .main-item-header .main-item-container .sub-container {
    width: 100%;
  }
  .main-content-wrapper .bg-middle .main-item-1 {
    flex-direction: column;
    padding: 40px 0;
    row-gap: 100px;
  }
  .main-content-wrapper .bg-middle .main-item-1 div {
    width: 80%;
  }
  .main-content-wrapper .bg-middle .main-item-1 img {
    width: 80%;
  }
  .main-content-wrapper .bg-middle .main-item-2 h1 {
    font-size: 24px;
    margin-top: 40px;
  }
  .main-content-wrapper .bg-middle .main-item-2 .index-main-item-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 120px;
    margin: 0 8vw;
  }
  .main-content-wrapper .bg-middle .main-item-2 .index-main-item-container .sub-container-1,
.main-content-wrapper .bg-middle .main-item-2 .index-main-item-container .sub-container-2,
.main-content-wrapper .bg-middle .main-item-2 .index-main-item-container .sub-container-3 {
    align-items: center;
    text-align: center;
  }
  .main-content-wrapper .bg-middle .main-item-2 .blog-main-item-container {
    grid-template-columns: 1fr;
    justify-items: left;
    gap: 120px;
    margin: 80px 4vw;
  }
  .main-content-wrapper .bg-middle .main-item-2 .blog-main-item-container .sub-container-1,
.main-content-wrapper .bg-middle .main-item-2 .blog-main-item-container .sub-container-2,
.main-content-wrapper .bg-middle .main-item-2 .blog-main-item-container .sub-container-3 {
    align-items: left;
    text-align: left;
  }
  .main-content-wrapper .bg-middle .main-item-3 h1 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  html .navbar-wrapper,
html:not([data-scroll="0"]) .navbar-wrapper {
    background-color: white;
    box-shadow: 0 6px 6px -6px gray;
    transform: translateY(-20px);
    transition: transform 0s;
  }
  html .navbar-wrapper .nav-left,
html:not([data-scroll="0"]) .navbar-wrapper .nav-left {
    color: rgb(85, 85, 85);
  }
  html .navbar-wrapper .nav-left a,
html:not([data-scroll="0"]) .navbar-wrapper .nav-left a {
    color: rgb(231, 37, 101) !important;
    pointer-events: all;
  }

  .hero-wrapper .navbar-wrapper {
    background-color: white;
    transform: translateY(-20px);
  }

  html .hero-wrapper .navbar-wrapper .nav-right .nav-special {
    background-color: white;
  }

  html .hero-wrapper .navbar-wrapper .nav-left a {
    color: rgb(231, 37, 101);
    pointer-events: all;
    margin-left: -1vw;
  }

  html .hero-wrapper .navbar-wrapper .nav-left a:hover {
    color: rgb(171, 171, 171);
  }

  html .hero-wrapper .navbar-wrapper .nav-left {
    position: absolute;
    transform: translateX(-40vw);
    z-index: 2;
    color: rgb(85, 85, 85);
  }

  html .index-hero-wrapper {
    height: 100vh;
  }
  html .index-hero-wrapper h1 {
    font-size: 40px;
  }

  html .blog-hero-wrapper {
    height: 25vh;
  }
  html .blog-hero-wrapper h1 {
    margin-top: 20vh !important;
    font-size: 25px !important;
  }

  .main-content-wrapper .bg-middle .main-item-header {
    border-radius: 0 0 0 0;
    padding-top: 90px;
  }
  .main-content-wrapper .bg-middle .main-item-header h1 {
    font-size: 30px;
  }

  .main-content-wrapper .bg-middle {
    border-radius: 0 0 0 0;
  }

  html .hero-wrapper .navbar-wrapper {
    gap: 20vw;
  }

  html .hero-wrapper .navbar-wrapper .nav-right {
    display: none;
  }

  .hamburger-menu {
    color: rgb(231, 37, 101);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    background-color: white;
    background-size: 100% 100%;
    top: 30px;
    max-height: 40px;
    width: 100vw;
    transition: max-height 0.5s;
    white-space: normal;
    box-shadow: 0 6px 6px -6px gray;
  }
  .hamburger-menu .hamburger-menu-content {
    overflow: hidden;
    justify-self: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100vw;
    height: 260px;
  }
  .hamburger-menu .hamburger-menu-content a,
.hamburger-menu .hamburger-menu-content .nav-special {
    color: rgb(231, 37, 101) !important;
  }
  .hamburger-menu .fa-bars {
    transform: translateY(-20px);
    display: block;
    font-size: 25px;
    margin: 10px 20px 10px 10px;
  }
  .hamburger-menu .fa-bars:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .hamburger-menu .fa-xmark {
    display: none;
  }
  .hamburger-menu:focus, .hamburger-menu:active {
    max-height: 260px;
  }
  .hamburger-menu:focus .fa-bars, .hamburger-menu:active .fa-bars {
    display: none;
  }
  .hamburger-menu:focus .fa-xmark, .hamburger-menu:active .fa-xmark {
    transform: translateY(-20px);
    display: block;
    font-size: 30px;
    margin: 10px 20px 5px 5px;
  }
  .hamburger-menu:focus .fa-xmark:hover, .hamburger-menu:active .fa-xmark:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .hamburger-menu .hamburger-menu-content .nav-special {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(231, 37, 101);
    width: 95vw;
    height: 40px;
    border-radius: 25px;
    margin: 0px 2.5vw 0px 2.5vw;
    color: white !important;
    box-shadow: 0 6px 6px -6px gray;
  }

  .hamburger-menu .hamburger-menu-content .nav-special:hover {
    box-shadow: 0 8px 10px -10px gray;
    color: lightgray !important;
  }

  .hamburger-menu .hamburger-menu-content a:not(.nav-special) {
    margin-left: 30px;
    color: rgb(231, 37, 101);
  }

  .hamburger-menu .hamburger-menu-content a:not(.nav-special):hover {
    color: rgb(171, 171, 171);
  }

  .footer-wrapper,
.main-content-wrapper .bg-middle .main-item-footer {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer-wrapper div,
.main-content-wrapper .bg-middle .main-item-footer div {
    justify-content: space-between;
    width: 150px;
    gap: 0;
  }
  .footer-wrapper div a,
.main-content-wrapper .bg-middle .main-item-footer div a {
    text-align: center;
  }

  .contact-main-content-wrapper {
    white-space: normal;
    display: block;
  }
  .contact-main-content-wrapper .contact-bg-middle {
    white-space: normal;
    display: block;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 1150px;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    margin-left: -15%;
    margin-top: -50px;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 h1 {
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-1 {
    min-height: 150px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-2 {
    min-height: 150px;
    margin: 0 0 0 0;
    padding: 0 0;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 .item-3 {
    min-height: 150px;
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
  }
  .contact-main-content-wrapper .contact-bg-middle .contact-main-item-3 form {
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
  }

  textarea,
.name {
    width: 90vw;
  }

  .sub-container-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }
  .sub-container-wrapper figure img {
    max-width: 92vw;
  }
  .sub-container-wrapper .social-icons-wrapper {
    width: 100%;
    justify-content: flex-start;
  }

  .related-posts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 100px;
    box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);
  }
  .related-posts-wrapper .related-posts-header {
    left: 0;
  }
  .related-posts-wrapper .post-1 {
    min-width: 93vw;
    max-height: 220px;
  }
  .related-posts-wrapper .post-2 {
    min-width: 93vw;
    max-height: 170px;
  }
  .related-posts-wrapper .post-3 {
    min-width: 93vw;
    max-height: 250px;
  }
}
@media (max-width: 1270px) {
  .related-posts-wrapper .post-1 {
    max-width: 220px !important;
  }
  .related-posts-wrapper .post-2 {
    max-width: 220px !important;
  }
  .related-posts-wrapper .post-3 {
    max-width: 220px !important;
  }
}
@media (max-width: 968px) {
  .sub-container-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }
  .sub-container-wrapper figure img {
    max-width: 92vw;
  }
  .sub-container-wrapper .social-icons-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=main.css.map */