@media (max-width: 768px) {
  .main-content-wrapper {
    .bg-left {
      width: 0;
    }

    .bg-right {
      width: 0;
    }

    .bg-middle {
      width: 100vw;

      .main-item-header {
        .main-item-container {
          flex-direction: column;
          align-items: center;
          gap: 50px;

          .sub-container {
            width: 100%;
          }
        }
      }

      .main-item-1 {
        flex-direction: column;

        div {
          width: 90%;
        }

        img {
          width: 90%;
        }
      }

      .main-item-2 {
        .main-item-container {
          grid-template-columns: 1fr;
          gap: 120px;
          margin: 0 8vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  html,
  html:not([data-scroll="0"]) {
    .navbar-wrapper {
      background-color: white;
      transform: translateY(-20px);
      transition: transform 0s;

      .nav-left {
        color: $theme-pink;

        a {
          pointer-events: all;
        }
      }
    }
  }

  .hero-wrapper {
    .navbar-wrapper {
      background-color: white;
      transform: translateY(-20px);
    }
  }

  html .hero-wrapper .navbar-wrapper .nav-right .nav-special {
    background-color: white;
  }

  html .hero-wrapper .navbar-wrapper .nav-left a {
    color: $theme-pink;
    pointer-events: all;
  }

  html .hero-wrapper {
    height: calc(100vh + 60px);
  }

  .main-content-wrapper .bg-middle .main-item-header {
    border-radius: 0 0 0 0;
  }

  .main-content-wrapper .bg-middle {
    border-radius: 0 0 0 0;
  }

  html .hero-wrapper .navbar-wrapper {
    gap: 20vw;
  }

  html .hero-wrapper .navbar-wrapper .nav-right {
    display: none;
  }

  .hamburger-icon {
    display: block;

    &:focus,
    &:active {
      background-color: black;
      height: 2000px;
      width: 500px;
    }
  }
}
