@media (max-width: 768px) {
  .main-content-wrapper {
    overflow-x: hidden;

    .bg-left {
      width: 0;
    }

    .bg-right {
      width: 0;
    }

    .bg-middle {
      width: 100vw;

      .main-item-header {
        .main-item-container {
          flex-direction: column;
          align-items: center;
          gap: 50px;

          .sub-container {
            width: 100%;
          }
        }
      }

      .main-item-1 {
        flex-direction: column;
        padding: 40px 0;
        row-gap: 100px;

        div {
          width: 80%;
        }

        img {
          width: 80%;
        }
      }

      .main-item-2 {
        h1 {
          font-size: 24px;
          margin-top: 40px;
        }

        .index-main-item-container {
          grid-template-columns: 1fr;
          justify-items: center;
          gap: 120px;
          margin: 0 8vw;

          .sub-container-1,
          .sub-container-2,
          .sub-container-3 {
            align-items: center;
            text-align: center;
          }
        }

        .blog-main-item-container {
          grid-template-columns: 1fr;
          justify-items: left;
          gap: 120px;
          margin: 80px 4vw;

          .sub-container-1,
          .sub-container-2,
          .sub-container-3 {
            align-items: left;
            text-align: left;
          }
        }
      }

      .main-item-3 {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  html,
  html:not([data-scroll="0"]) {
    .navbar-wrapper {
      background-color: white;
      box-shadow: 0 6px 6px -6px gray;
      transform: translateY(-20px);
      transition: transform 0s;

      .nav-left {
        color: $theme-link-color-1;

        a {
          color: $theme-red !important;
          pointer-events: all;
        }
      }
    }
  }

  .hero-wrapper {
    .navbar-wrapper {
      background-color: white;
      transform: translateY(-20px);
    }
  }

  html .hero-wrapper .navbar-wrapper .nav-right .nav-special {
    background-color: white;
  }

  html .hero-wrapper .navbar-wrapper .nav-left a {
    color: $theme-red;
    pointer-events: all;
    margin-left: -1vw;
  }

  html .hero-wrapper .navbar-wrapper .nav-left a:hover {
    color: $theme-pink;
  }

  html .hero-wrapper .navbar-wrapper .nav-left {
    position: absolute;
    transform: translateX(-40vw);
    z-index: 2;
    color: $theme-link-color-1;
  }

  html .index-hero-wrapper {
    height: 100vh;

    h1 {
      font-size: 40px;
    }
  }

  html .blog-hero-wrapper {
    height: 25vh;

    h1 {
      margin-top: 20vh !important;
      font-size: 25px !important;
    }
  }

  .main-content-wrapper .bg-middle .main-item-header {
    border-radius: 0 0 0 0;
    padding-top: 90px;

    h1 {
      font-size: 30px;
    }
  }

  .main-content-wrapper .bg-middle {
    border-radius: 0 0 0 0;
  }

  html .hero-wrapper .navbar-wrapper {
    gap: 20vw;
  }

  html .hero-wrapper .navbar-wrapper .nav-right {
    display: none;
  }

  .hamburger-menu {
    color: $theme-red;
    display: flex;
    box-sizing: border-box;
    // overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    background-color: white;
    background-size: 100% 100%;
    top: 30px;
    max-height: 40px;
    width: 100vw;
    transition: max-height 0.5s;
    white-space: normal;
    box-shadow: 0 6px 6px -6px gray;

    .hamburger-menu-content {
      overflow: hidden;
      justify-self: center;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      width: 100vw;
      height: 260px;

      a,
      .nav-special {
        color: $theme-red !important;
      }
    }

    .fa-bars {
      transform: translateY(-20px);
      display: block;
      font-size: 25px;
      margin: 10px 20px 10px 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .fa-xmark {
      display: none;
    }

    &:focus,
    &:active {
      max-height: 260px;

      // .hamburger-menu-content {
      //   display: flex;
      //   width: 100vw;
      //   height: 100%;
      // }

      .fa-bars {
        display: none;
      }

      .fa-xmark {
        transform: translateY(-20px);
        display: block;
        font-size: 30px;
        margin: 10px 20px 5px 5px;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      // display: none;
      // padding-bottom: 295px;
      // transform: translate(0vw, 0px);
      // transition: height 2s;
    }

    // .fa-xmark:focus,
    // .fa-xmark:active {
    //   height: 20px;
    // }
  }

  .hamburger-menu .hamburger-menu-content .nav-special {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: $theme-red;
    width: 95vw;
    height: 40px;
    border-radius: 25px;
    margin: 0px 2.5vw 0px 2.5vw;
    color: white !important;
    box-shadow: 0 6px 6px -6px gray;
  }

  .hamburger-menu .hamburger-menu-content .nav-special:hover {
    box-shadow: 0 8px 10px -10px gray;
    color: lightgray !important;
  }

  .hamburger-menu .hamburger-menu-content a:not(.nav-special) {
    margin-left: 30px;
    color: $theme-red;
  }

  .hamburger-menu .hamburger-menu-content a:not(.nav-special):hover {
    color: $theme-pink;
  }

  .footer-wrapper,
  .main-content-wrapper .bg-middle .main-item-footer {
    flex-direction: column;
    align-items: center;
    gap: 0;

    div {
      justify-content: space-between;
      width: 150px;
      gap: 0;

      a {
        text-align: center;
      }
    }
  }

  .contact-main-content-wrapper {
    white-space: normal;
    display: block;

    .contact-bg-middle {
      white-space: normal;
      display: block;

      .contact-main-item-3 {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 1150px;
        row-gap: 0;
        column-gap: 0;
        margin-left: -15%;
        margin-top: -50px;

        h1 {
          margin: 0 0 50px 0;
          padding: 0 0 0 0;
        }

        .item-1 {
          min-height: 150px;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
        }

        .item-2 {
          min-height: 150px;
          margin: 0 0 0 0;
          padding: 0 0;
        }

        .item-3 {
          min-height: 150px;
          margin: 0 0 50px 0;
          padding: 0 0 0 0;
        }

        form {
          margin: 0 0 50px 0;
          padding: 0 0 0 0;
        }
      }
    }
  }

  textarea,
  .name {
    width: 90vw;
  }

  .sub-container-wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;

    figure img {
      max-width: 92vw;
    }

    .social-icons-wrapper {
      width: 100%;
      justify-content: flex-start;
    }
  }

  .related-posts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 100px;
    box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 27px 29px -27px rgba(0, 0, 0, 0.7);

    // min-height: 2000px;

    .related-posts-header {
      left: 0;
    }

    .post-1 {
      min-width: 93vw;
      max-height: 220px;
    }

    .post-2 {
      min-width: 93vw;
      max-height: 170px;
    }

    .post-3 {
      min-width: 93vw;
      max-height: 250px;
    }
  }
}
