$theme-red: rgb(231, 37, 101);
$theme-pink: rgb(171, 171, 171);
$theme-dark-red: rgb(61, 72, 88);
$theme-color-1: rgb(136, 41, 153);
$theme-color-2: rgb(31, 188, 211);
$theme-color-3: rgb(242, 69, 61);
$theme-link-color-1: rgb(85, 85, 85);
$theme-link-color-2: rgb(95, 95, 95);
$theme-footer-color: rgb(50, 52, 55);
$theme-blog-hero-1: rgb(165, 29, 119);
$theme-blog-hero-2: rgb(226, 48, 101);
$theme-link-4: rgb(255, 139, 37);
$theme-link-5: rgb(229, 28, 88);
$theme-link-6: rgb(68, 165, 70);
$theme-link-7: rgb(128, 36, 148);
